'preprocessing':
  '1':
  - phase_shift
  - {}
  '2':
  - bandpass_filter
  - freq_min: 300
    freq_max: 6000
  '3':
  - common_reference
  - operator: median
    reference: global
  '4':
  - blank_saturation
  - quantile_threshold: 0.01
    fill_value: 1
  '5':
  - center
  - mode: mean
    chunk_size: 0
  '6':
  - clip
  - a_min: -100
    a_max: 100
  '7':
  - correct_lsb
  - seed: 10
    chunk_size: 0
  '8':
  - filter
  - band: 5000
    btype: highpass
  '9':
  - gaussian_bandpass_filter
  - freq_max: 4500
  '10':
  - highpass_filter
  - margin_ms: 6.0
  '11':
    - interpolate_bad_channels
    - p: 1.5
      bad_channel_ids:
        - 'imec0.ap#AP1'
  '12':
  - normalize_by_quantile
  - chunk_size: 2
  '13':
  - notch_filter
  - freq: 2000
  '14':
  - remove_artifacts
  - list_triggers:
    - - 1
  '15':
  - scale
  - gain: 2
  '16':
  - remove_channels
  - bad_channel_ids:
      - 'imec0.ap#AP1'
